body {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;     
    color: black;
    text-align: center;     
    background-color: rgb(255, 243, 218);
}

.principal {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100px 700px 153px;
    grid-template-areas: "cabecalho" 
                         "secao"
                         "rodape";
}



header{
    grid-area: cabecalho;
    background-color: rgb(241, 17, 17);
  
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1rem;
}

.nav{
    list-style: none;
    display: flex;
    gap: 15px;
    float: right;
    margin: 20px;
    padding: 20px;
}

.nav-item{
    margin: 0 10px;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-toggler {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 15;
}

.close-button{
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5em;
    color: rgb(194, 4, 4);
    background: none;
    border: none;
    cursor: pointer;
}

.navbar.open .close-button{
    display: block;
}

.navbar-toggler{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    
}

#toggleButton{
   float: right;
   margin: 40px;
}
    
nav ul li a {
    color: #fff;

    text-decoration: none;

    padding: 5px 10px;

    box-shadow: 5px 5px 20px black;
}

nav ul li a:hover {
    background: rgb(172, 3, 3);
    border-color: rgb(172, 3, 3);
    border-radius: 5px;

}


.hamburger{
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    
}
    
   
 .logo {
    width: 10%;
    float: left;
   
    a{
        background-color: transparent;
        border-color: transparent;
    }
 }


#logo {
    max-width: 100px;
}


#local {
    color: yellow;
}

h1{
    color:#fff;
    font-size: 90px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    line-height: 0;
    }

a {
    text-decoration: none;
    color: white;
    background-color: red;
    border: 2px, solid, red;
    border-radius: 5px;
    padding: 4px;
}
 
 
 section{

    grid-area: secao;
    padding: 20px 80px;
    text-align: justify;
    display: grid;

    h1{
        text-align: center;
    }
    
    

 }

 .bemvindo-content {
    display: flex;
    flex-direction: column; 
    
    align-items: center; 
    
}

.nos {
    max-width: auto; 
    height: 40%;
}
  

 
  footer {
     grid-area: rodape;
     background-color: red;
     color: white;
    display: grid;
    padding: 10px;
    font-size: 20px;

    .social {
        display: flex; 
        justify-content: center;
        align-items: center; 
        margin: 10px 0;
    }
    
    .social div {
        margin: 0 10px; 
    }
    
    #imagemSocial{
        width: 40px; 
        height: auto; 
        transition: transform 0.5s ease; 
    }

    #imagemSocial:hover{
        transform: scale(1.2);
    }
  }

 


  @media(max-width: 992px) {
    .principal {
        grid-template-columns: 100%;
        display: grid;
        grid-template-rows: 100px 800px 150px;
        grid-template-areas: "cabecalho" "secao" "rodape";
    }
      
    h1{
        color:#fff;
        font-size: 70px;
        
        }

            

    .navbar-toggler{
        display: flex;
    }

    .nav{
        flex-direction: column;
        align-items: center;
    }

    .nav-item{
        margin: 10px 0;
    }

    .navbar-toggler{
        display: flex;
    }

    .navbar{
        display: none;
        flex-direction: column;
        border: 10px, solid, red;
        background-color: rgb(255, 243, 218);
        position: absolute;
        top: 95px;
        right: 0;
        left: 0px;
        width: 95%;
        padding: 1rem;
        z-index: 10;
    
    }

    .navbar.open{
        display: flex;
    }


   
    
 }

 
 @media(max-width: 840px) {
    h1{
        font-size: 62px;
        
        }
 }

 @media(max-width: 768px) {

    .principal {
        grid-template-columns: 100%;
        display: grid;
        grid-template-rows: 100px 850px 150px;
        grid-template-areas: "cabecalho" "secao" "rodape";
    }

    header{
        position: fixed;
        left: 0;
        right: 0;
        height: 100px; 
    }
      
    h1{
        
        font-size: 55px;
        

        }
        
        .nos{
            max-width: 300px;
         }

    

    .navbar-toggler{
        display: flex;
    }

    .nav{
        flex-direction: column;
        align-items: center;
    }

    .nav-item{
        margin: 10px 0;
    }

    .navbar-toggler{
        display: flex;
    }

    .navbar{
        display: none;
        flex-direction: column;
        background-color: rgb(255, 243, 218);
        position: absolute;
        top: 100px;
        left: 0px;
        right: 0;
        width: 93%;
        padding: 1rem;
        z-index: 15;
        border: 11px, solid, red;
    }

    .navbar.open{
        display: flex;
    }

 }


 @media(max-width: 694px) {
    h1{
        font-size: 40px;
        
        }

        .nos {
            max-width: auto; 
            height: 30%;
        }
          
    }

    
 @media(max-width: 547px) {
    h1{
        font-size: 30px;
        
        }

        .nos {
            max-width: auto; 
            height: 25%;
        }
          
    }

    @media(max-width: 520px) {
        .principal {
            grid-template-columns: 100%;
            display: grid;
            grid-template-rows: 100px 1000px 150px;
            grid-template-areas: "cabecalho" "secao" "rodape";
        }
    }

    @media(max-width: 449px) {
        .principal {
            grid-template-columns: 100%;
            display: grid;
            grid-template-rows: 100px 1200px 150px;
            grid-template-areas: "cabecalho" "secao" "rodape";
        }
        h1{
            font-size: 25px;
            
            }
        }

        @media(max-width: 403px) {
            .principal {
                grid-template-columns: 100%;
                display: grid;
                grid-template-rows: 100px 1300px 150px;
                grid-template-areas: "cabecalho" "secao" "rodape";
            }
            h1{
                font-size: 20px;
                
                }
                .nos {
                    max-width: auto; 
                    height: 20%;
                }
            }